X7Renappo/X7Renappo/Web References/DigiWeb/DigitalizacionServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Anses.gov.ar/DigitalizacionServicios/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Anses.gov.ar/DigitalizacionServicios/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Anses.gov.ar/DigitalizacionServicios/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GuardarEDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documento" type="tns:EDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EDocumento">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoSistema" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoEDocumentoId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EstadoEDocumentoId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Entidad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PreCuil" nillable="true" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroDocumento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DigitoVerificador" nillable="true" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoTramite" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Secuencia" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoExterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Metadata" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ruta" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaIndexacion" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Hash" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GuardarEDocumentoResponse">
        <s:complexType />
      </s:element>
      <s:element name="BuscarEDocumentosPorCodigoAnses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tramite" type="tns:CodigoAnses" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoSistema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CodigoAnses">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Entidad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PreCUIL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DocumentoCUIL" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DigitoVerificador" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoTramite" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Secuencia" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarEDocumentosPorCodigoAnsesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarEDocumentosPorCodigoAnsesResult" type="tns:ArrayOfEDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEDocumento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EDocumento" nillable="true" type="tns:EDocumento" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarEDocumentosPorCUIL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="preCUIIL" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="documentoCUIL" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="digito" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoSistema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarEDocumentosPorCUILResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarEDocumentosPorCUILResult" type="tns:ArrayOfEDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarEDocumentosPorNumeroDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="documentoCUIL" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoSistema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarEDocumentosPorNumeroDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarEDocumentosPorNumeroDocumentoResult" type="tns:ArrayOfEDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerEDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="documentoId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerEDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerEDocumentoResult" type="tns:EDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerEDocumentoDMZ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="documentoId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaDestino" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerEDocumentoDMZResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerEDocumentoDMZResult" type="tns:EDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarEDocumentosPorCodigoExterno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoExterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoSistema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarEDocumentosPorCodigoExternoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarEDocumentosPorCodigoExternoResult" type="tns:ArrayOfEDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarEDocumentosIdPorRuta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ruta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarEDocumentosIdPorRutaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarEDocumentosIdPorRutaResult" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="ActualizarEDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documento" type="tns:EDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarEDocumentoResponse">
        <s:complexType />
      </s:element>
      <s:element name="CalcularRuta">
        <s:complexType />
      </s:element>
      <s:element name="CalcularRutaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalcularRutaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcularRutaSistema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoSistema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalcularRutaSistemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalcularRutaSistemaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarEDocumentoV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documento" type="tns:EDocumentoOriginal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EDocumentoOriginal">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoSistema" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoEDocumentoId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EstadoEDocumentoId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Entidad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PreCuil" nillable="true" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroDocumento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DigitoVerificador" nillable="true" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoTramite" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Secuencia" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoExterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Metadata" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ruta" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaIndexacion" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Hash" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GuardarEDocumentoV2Response">
        <s:complexType />
      </s:element>
      <s:element name="BuscarEDocumentosPorCodigoAnsesV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tramite" type="tns:CodigoAnsesV2" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoSistema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CodigoAnsesV2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Entidad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PreCUIL" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentoCUIL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DigitoVerificador" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoTramite" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Secuencia" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarEDocumentosPorCodigoAnsesV2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarEDocumentosPorCodigoAnsesV2Result" type="tns:ArrayOfEDocumentoOriginal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEDocumentoOriginal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EDocumentoOriginal" nillable="true" type="tns:EDocumentoOriginal" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarEDocumentosPorCUILV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="preCUIIL" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentoCUIL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="digito" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoSistema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarEDocumentosPorCUILV2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarEDocumentosPorCUILV2Result" type="tns:ArrayOfEDocumentoOriginal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarEDocumentosPorNumeroDocumentoV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documentoCUIL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoSistema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarEDocumentosPorNumeroDocumentoV2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarEDocumentosPorNumeroDocumentoV2Result" type="tns:ArrayOfEDocumentoOriginal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerEDocumentoV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="documentoId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerEDocumentoV2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerEDocumentoV2Result" type="tns:EDocumentoOriginal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerEDocumentoDMZV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="documentoId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaDestino" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerEDocumentoDMZV2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerEDocumentoDMZV2Result" type="tns:EDocumentoOriginal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarEDocumentosPorCodigoExternoV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoExterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoSistema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarEDocumentosPorCodigoExternoV2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarEDocumentosPorCodigoExternoV2Result" type="tns:ArrayOfEDocumentoOriginal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarEDocumentoV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documento" type="tns:EDocumentoOriginal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarEDocumentoV2Response">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerEDocumentoV3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="guid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerEDocumentoV3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerEDocumentoV3Result" type="tns:RespuestaObtenerEDocumentoV3" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespuestaObtenerEDocumentoV3">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Archivo" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="documento" type="tns:EDocumentoOriginal" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GuardarEDocumentoV3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documento" type="tns:EDocumentoOriginal" />
            <s:element minOccurs="0" maxOccurs="1" name="archivo" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarEDocumentoV3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarEDocumentoV3Result" type="tns:RespuestaGuardarEDocumentoV3" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespuestaGuardarEDocumentoV3">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="guid" nillable="true" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GuardarEDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarEDocumento" />
  </wsdl:message>
  <wsdl:message name="GuardarEDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarEDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarEDocumentosPorCodigoAnsesSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarEDocumentosPorCodigoAnses" />
  </wsdl:message>
  <wsdl:message name="BuscarEDocumentosPorCodigoAnsesSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarEDocumentosPorCodigoAnsesResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarEDocumentosPorCUILSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarEDocumentosPorCUIL" />
  </wsdl:message>
  <wsdl:message name="BuscarEDocumentosPorCUILSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarEDocumentosPorCUILResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarEDocumentosPorNumeroDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarEDocumentosPorNumeroDocumento" />
  </wsdl:message>
  <wsdl:message name="BuscarEDocumentosPorNumeroDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarEDocumentosPorNumeroDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="TraerEDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:TraerEDocumento" />
  </wsdl:message>
  <wsdl:message name="TraerEDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:TraerEDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="TraerEDocumentoDMZSoapIn">
    <wsdl:part name="parameters" element="tns:TraerEDocumentoDMZ" />
  </wsdl:message>
  <wsdl:message name="TraerEDocumentoDMZSoapOut">
    <wsdl:part name="parameters" element="tns:TraerEDocumentoDMZResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarEDocumentosPorCodigoExternoSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarEDocumentosPorCodigoExterno" />
  </wsdl:message>
  <wsdl:message name="BuscarEDocumentosPorCodigoExternoSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarEDocumentosPorCodigoExternoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarEDocumentosIdPorRutaSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarEDocumentosIdPorRuta" />
  </wsdl:message>
  <wsdl:message name="BuscarEDocumentosIdPorRutaSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarEDocumentosIdPorRutaResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarEDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarEDocumento" />
  </wsdl:message>
  <wsdl:message name="ActualizarEDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarEDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="CalcularRutaSoapIn">
    <wsdl:part name="parameters" element="tns:CalcularRuta" />
  </wsdl:message>
  <wsdl:message name="CalcularRutaSoapOut">
    <wsdl:part name="parameters" element="tns:CalcularRutaResponse" />
  </wsdl:message>
  <wsdl:message name="CalcularRutaSistemaSoapIn">
    <wsdl:part name="parameters" element="tns:CalcularRutaSistema" />
  </wsdl:message>
  <wsdl:message name="CalcularRutaSistemaSoapOut">
    <wsdl:part name="parameters" element="tns:CalcularRutaSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarEDocumentoV2SoapIn">
    <wsdl:part name="parameters" element="tns:GuardarEDocumentoV2" />
  </wsdl:message>
  <wsdl:message name="GuardarEDocumentoV2SoapOut">
    <wsdl:part name="parameters" element="tns:GuardarEDocumentoV2Response" />
  </wsdl:message>
  <wsdl:message name="BuscarEDocumentosPorCodigoAnsesV2SoapIn">
    <wsdl:part name="parameters" element="tns:BuscarEDocumentosPorCodigoAnsesV2" />
  </wsdl:message>
  <wsdl:message name="BuscarEDocumentosPorCodigoAnsesV2SoapOut">
    <wsdl:part name="parameters" element="tns:BuscarEDocumentosPorCodigoAnsesV2Response" />
  </wsdl:message>
  <wsdl:message name="BuscarEDocumentosPorCUILV2SoapIn">
    <wsdl:part name="parameters" element="tns:BuscarEDocumentosPorCUILV2" />
  </wsdl:message>
  <wsdl:message name="BuscarEDocumentosPorCUILV2SoapOut">
    <wsdl:part name="parameters" element="tns:BuscarEDocumentosPorCUILV2Response" />
  </wsdl:message>
  <wsdl:message name="BuscarEDocumentosPorNumeroDocumentoV2SoapIn">
    <wsdl:part name="parameters" element="tns:BuscarEDocumentosPorNumeroDocumentoV2" />
  </wsdl:message>
  <wsdl:message name="BuscarEDocumentosPorNumeroDocumentoV2SoapOut">
    <wsdl:part name="parameters" element="tns:BuscarEDocumentosPorNumeroDocumentoV2Response" />
  </wsdl:message>
  <wsdl:message name="TraerEDocumentoV2SoapIn">
    <wsdl:part name="parameters" element="tns:TraerEDocumentoV2" />
  </wsdl:message>
  <wsdl:message name="TraerEDocumentoV2SoapOut">
    <wsdl:part name="parameters" element="tns:TraerEDocumentoV2Response" />
  </wsdl:message>
  <wsdl:message name="TraerEDocumentoDMZV2SoapIn">
    <wsdl:part name="parameters" element="tns:TraerEDocumentoDMZV2" />
  </wsdl:message>
  <wsdl:message name="TraerEDocumentoDMZV2SoapOut">
    <wsdl:part name="parameters" element="tns:TraerEDocumentoDMZV2Response" />
  </wsdl:message>
  <wsdl:message name="BuscarEDocumentosPorCodigoExternoV2SoapIn">
    <wsdl:part name="parameters" element="tns:BuscarEDocumentosPorCodigoExternoV2" />
  </wsdl:message>
  <wsdl:message name="BuscarEDocumentosPorCodigoExternoV2SoapOut">
    <wsdl:part name="parameters" element="tns:BuscarEDocumentosPorCodigoExternoV2Response" />
  </wsdl:message>
  <wsdl:message name="ActualizarEDocumentoV2SoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarEDocumentoV2" />
  </wsdl:message>
  <wsdl:message name="ActualizarEDocumentoV2SoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarEDocumentoV2Response" />
  </wsdl:message>
  <wsdl:message name="ObtenerEDocumentoV3SoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerEDocumentoV3" />
  </wsdl:message>
  <wsdl:message name="ObtenerEDocumentoV3SoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerEDocumentoV3Response" />
  </wsdl:message>
  <wsdl:message name="GuardarEDocumentoV3SoapIn">
    <wsdl:part name="parameters" element="tns:GuardarEDocumentoV3" />
  </wsdl:message>
  <wsdl:message name="GuardarEDocumentoV3SoapOut">
    <wsdl:part name="parameters" element="tns:GuardarEDocumentoV3Response" />
  </wsdl:message>
  <wsdl:portType name="DigitalizacionServicioSoap">
    <wsdl:operation name="GuardarEDocumento">
      <wsdl:input message="tns:GuardarEDocumentoSoapIn" />
      <wsdl:output message="tns:GuardarEDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorCodigoAnses">
      <wsdl:input message="tns:BuscarEDocumentosPorCodigoAnsesSoapIn" />
      <wsdl:output message="tns:BuscarEDocumentosPorCodigoAnsesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorCUIL">
      <wsdl:input message="tns:BuscarEDocumentosPorCUILSoapIn" />
      <wsdl:output message="tns:BuscarEDocumentosPorCUILSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorNumeroDocumento">
      <wsdl:input message="tns:BuscarEDocumentosPorNumeroDocumentoSoapIn" />
      <wsdl:output message="tns:BuscarEDocumentosPorNumeroDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerEDocumento">
      <wsdl:input message="tns:TraerEDocumentoSoapIn" />
      <wsdl:output message="tns:TraerEDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerEDocumentoDMZ">
      <wsdl:input message="tns:TraerEDocumentoDMZSoapIn" />
      <wsdl:output message="tns:TraerEDocumentoDMZSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorCodigoExterno">
      <wsdl:input message="tns:BuscarEDocumentosPorCodigoExternoSoapIn" />
      <wsdl:output message="tns:BuscarEDocumentosPorCodigoExternoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosIdPorRuta">
      <wsdl:input message="tns:BuscarEDocumentosIdPorRutaSoapIn" />
      <wsdl:output message="tns:BuscarEDocumentosIdPorRutaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEDocumento">
      <wsdl:input message="tns:ActualizarEDocumentoSoapIn" />
      <wsdl:output message="tns:ActualizarEDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalcularRuta">
      <wsdl:input message="tns:CalcularRutaSoapIn" />
      <wsdl:output message="tns:CalcularRutaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalcularRutaSistema">
      <wsdl:input message="tns:CalcularRutaSistemaSoapIn" />
      <wsdl:output message="tns:CalcularRutaSistemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarEDocumentoV2">
      <wsdl:input message="tns:GuardarEDocumentoV2SoapIn" />
      <wsdl:output message="tns:GuardarEDocumentoV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorCodigoAnsesV2">
      <wsdl:input message="tns:BuscarEDocumentosPorCodigoAnsesV2SoapIn" />
      <wsdl:output message="tns:BuscarEDocumentosPorCodigoAnsesV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorCUILV2">
      <wsdl:input message="tns:BuscarEDocumentosPorCUILV2SoapIn" />
      <wsdl:output message="tns:BuscarEDocumentosPorCUILV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorNumeroDocumentoV2">
      <wsdl:input message="tns:BuscarEDocumentosPorNumeroDocumentoV2SoapIn" />
      <wsdl:output message="tns:BuscarEDocumentosPorNumeroDocumentoV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerEDocumentoV2">
      <wsdl:input message="tns:TraerEDocumentoV2SoapIn" />
      <wsdl:output message="tns:TraerEDocumentoV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerEDocumentoDMZV2">
      <wsdl:input message="tns:TraerEDocumentoDMZV2SoapIn" />
      <wsdl:output message="tns:TraerEDocumentoDMZV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorCodigoExternoV2">
      <wsdl:input message="tns:BuscarEDocumentosPorCodigoExternoV2SoapIn" />
      <wsdl:output message="tns:BuscarEDocumentosPorCodigoExternoV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEDocumentoV2">
      <wsdl:input message="tns:ActualizarEDocumentoV2SoapIn" />
      <wsdl:output message="tns:ActualizarEDocumentoV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEDocumentoV3">
      <wsdl:input message="tns:ObtenerEDocumentoV3SoapIn" />
      <wsdl:output message="tns:ObtenerEDocumentoV3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarEDocumentoV3">
      <wsdl:input message="tns:GuardarEDocumentoV3SoapIn" />
      <wsdl:output message="tns:GuardarEDocumentoV3SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DigitalizacionServicioSoap" type="tns:DigitalizacionServicioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarEDocumento">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/GuardarEDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorCodigoAnses">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/BuscarEDocumentosPorCodigoAnses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorCUIL">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/BuscarEDocumentosPorCUIL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorNumeroDocumento">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/BuscarEDocumentosPorNumeroDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEDocumento">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/TraerEDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEDocumentoDMZ">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/TraerEDocumentoDMZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorCodigoExterno">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/BuscarEDocumentosPorCodigoExterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosIdPorRuta">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/BuscarEDocumentosIdPorRuta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEDocumento">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/ActualizarEDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularRuta">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/CalcularRuta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularRutaSistema">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/CalcularRutaSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarEDocumentoV2">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/GuardarEDocumentoV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorCodigoAnsesV2">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/BuscarEDocumentosPorCodigoAnsesV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorCUILV2">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/BuscarEDocumentosPorCUILV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorNumeroDocumentoV2">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/BuscarEDocumentosPorNumeroDocumentoV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEDocumentoV2">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/TraerEDocumentoV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEDocumentoDMZV2">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/TraerEDocumentoDMZV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorCodigoExternoV2">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/BuscarEDocumentosPorCodigoExternoV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEDocumentoV2">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/ActualizarEDocumentoV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEDocumentoV3">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/ObtenerEDocumentoV3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarEDocumentoV3">
      <soap:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/GuardarEDocumentoV3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DigitalizacionServicioSoap12" type="tns:DigitalizacionServicioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarEDocumento">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/GuardarEDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorCodigoAnses">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/BuscarEDocumentosPorCodigoAnses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorCUIL">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/BuscarEDocumentosPorCUIL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorNumeroDocumento">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/BuscarEDocumentosPorNumeroDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEDocumento">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/TraerEDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEDocumentoDMZ">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/TraerEDocumentoDMZ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorCodigoExterno">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/BuscarEDocumentosPorCodigoExterno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosIdPorRuta">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/BuscarEDocumentosIdPorRuta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEDocumento">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/ActualizarEDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularRuta">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/CalcularRuta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularRutaSistema">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/CalcularRutaSistema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarEDocumentoV2">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/GuardarEDocumentoV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorCodigoAnsesV2">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/BuscarEDocumentosPorCodigoAnsesV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorCUILV2">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/BuscarEDocumentosPorCUILV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorNumeroDocumentoV2">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/BuscarEDocumentosPorNumeroDocumentoV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEDocumentoV2">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/TraerEDocumentoV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerEDocumentoDMZV2">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/TraerEDocumentoDMZV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEDocumentosPorCodigoExternoV2">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/BuscarEDocumentosPorCodigoExternoV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEDocumentoV2">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/ActualizarEDocumentoV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEDocumentoV3">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/ObtenerEDocumentoV3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarEDocumentoV3">
      <soap12:operation soapAction="http://Anses.gov.ar/DigitalizacionServicios/GuardarEDocumentoV3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DigitalizacionServicio">
    <wsdl:port name="DigitalizacionServicioSoap" binding="tns:DigitalizacionServicioSoap">
      <soap:address location="http://ansesdigi:1993/DigitalizacionWS/DigitalizacionServicio.asmx" />
    </wsdl:port>
    <wsdl:port name="DigitalizacionServicioSoap12" binding="tns:DigitalizacionServicioSoap12">
      <soap12:address location="http://ansesdigi:1993/DigitalizacionWS/DigitalizacionServicio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>